<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  <script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
</head>
